/* Indent all paragraphs except the first paragraph. Mobi will need class='first-para' */
p {
  text-indent: 1em;
}
/* Paragraph formatting. Mostly to remove space between paragraphs. */
p {
  margin: 0em;
  text-align: justify;
  text-align-last: left;
}
p.first-para, p.first-para-chapter, p.note-p-first {
  text-indent: 0em; 
}
p.no-indent {
  text-indent: 0em;
}
/* Never indent block-quote. */
blockquote p {
  text-indent: 0em !important;
}
