body {
  /* in general, serif fonts are easier on the eyes to read. */
  font-family: "Times New Roman", "Times", "Georgia", "Palatino", "Times New Roman", Caecilia, serif;
  font-size: 1.0em;
}

h1, h2, h3, h4, h5, h6 {
  text-align: center;
  hyphens: none;
}

h1, h2, h3 {
  font-variant: small-caps;
  margin-top: 2.0em;
  margin-bottom: 2.0em;
}

h4, h5, h6 {
  margin-top: 0em;
  margin-bottom: 0em;
}

h1 {
  text-transform: uppercase;
}

/* Big used for chapters for sudo-drop caps*/
big {
  font-size: 1.5em;
  font-weight: bold;
}

/* By default, do not indent paragraphs. */
p {
  text-indent: 0;  
}

p {
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  hyphens: auto;
  hyphenate-limit-chars: 6 3 3; /* Hyphenate words with 6 or more characters, with at least 3 characters before and 3 after the hyphen. */
  -webkit-hyphenate-after: 3;
  -webkit-hyphenate-before: 3;
  -webkit-hyphenate-lines: 2;
  line-height: 1.2em;
  margin: 1em 0em 1em 0em;
  text-align: left;
  orphans: 2;
  widows: 2;
}

img {
    max-width: 100%;
    height: auto;      
}
