.book_cover {
    aspect-ratio: 1024/1536;
    height: auto;
    max-width: 100%;
    width: 100%;
}
blockquote {
    border-left: 3px solid; /* Adds a left border */
    margin-left: 1em; /* Creates a left margin */
    padding: 10px; /* Adds padding inside the blockquote */
}
body {
    font-size: 20px;
    margin-left: auto;
    margin-right: auto;
    max-width: 32em;
    padding-left: 1em;
    padding-right: 1em;
}
body {
    /* Better Hyphens */
    -epub-hyphens: auto;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
    overflow-wrap: break-word;
    word-wrap: break-word;
}
h1 {
 font-size: clamp(1.7rem, 5vw, 3.2rem);
}
h2 {
 font-size: clamp(1.6rem, 4vw, 2.3rem);
}
h3 {
 font-size: clamp(1.5rem, 3vw, 1.9rem);
}
h4 {
  font-size: 1.3rem;
}
h5 {
  font-size: 1.2rem;
}
h6 {
  font-size: 1.1rem
}
